.player {
  border-bottom: 1px solid black;
  width: 100%;
  height: 6em;
}

.right_border {
  border-right: 1px solid black;
}

.bracket {
  border-bottom: 1px solid black;
  width: 100%;
  height: 6em;
  margin-top: 3em;
}

.player-p-m {
  padding-right: 0 !important;
  margin: 0 !important;
}

.no-p-m {
  padding: 0 !important;
  margin: 0 !important;
}
