<div class="container mt-3 mb-5">
  <div class="text-center">
    <h3>Round {{ bout.number }}</h3>
    <p>Maximum number of participants: {{ bout.maxNumOfPlayers}}</p>
  </div>
  <div class="">
    <div class="mt-3 mb-3">
      <a routerLink="/players/add" class="btn btn-light" role="button" >
        <i class="fa fa-plus-circle"></i> Add participant
      </a>
    </div>
    <div class="row">
      <div class="card" style="width: 18rem;" *ngFor="let player of players ">
        <div class="card-body">
          <h5 class="card-title">{{ player.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Score: {{ player.points }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
