<div class="container mb-5">
  <div class="jumbotron text-center bg-light">
    <h1>Tourney</h1>
    <p>We help to manage Tournaments.</p>
  </div>
  <div class="container">
    <div class="row aligned p-2">
      <div class="col-sm-8">
        <h2>About Company</h2>
        <h4>Lorem ipsum..</h4>
        <p>Lorem ipsum..</p>
      </div>
      <div class="col-sm-4">
        <img class="img-fluid" src="../assets/about-us.png" alt="">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row aligned p-2">
      <div class="col-sm-4">
        <img class="img-fluid" src="../assets/values.png" alt="">
      </div>
      <div class="col-sm-8 text-right">
        <h2>Our Values</h2>
        <h4>Lorem ipsum..</h4>
        <p>Lorem ipsum..</p>
      </div>
    </div>
  </div>
</div>
