.brackets {
  width: 100%;
  overflow: scroll;
  white-space: nowrap;
}

.round {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}


.player {
  border-bottom: 1px solid black;
  height: 6em;
  display: flex;
  flex-wrap: nowrap;
}

.name {
  align-self: flex-end;
  flex-grow: 4;
  padding-left: 1em;
}

.score {
  align-self: flex-end;
  flex-grow: 1;
  text-align: right;
  padding-right: 1em;
}

.right_border {
  border-right: 1px solid black;
}

.margin-box {
  width: 100%;
  display: block;
}


.margin-box-1 {
  height: 3em;
}

.margin-box-2 {
  height: 6em;
}

.margin-box-3 {
  height: 9em;
}

.margin-box-4 {
  height: 18em;
}

.margin-box-5 {
  height: 21em;
}

.margin-box-6 {
  height: 42em;
}


.margin-box-7 {
  height: 45em;
}
