<div class="container mb-5">
  <div class="jumbotron text-center bg-light">
    <h1>All Tourneys</h1>
  </div>
  <div class="row">
    <div class="col-sm-6 mb-3" *ngFor="let tourney of tourneys">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ tourney.name }}</h5>
          <p class="card-text">{{ tourney.name }}</p>
          <a routerLink="/view_tourney/{{ tourney._id }}" class="btn btn-secondary float-right">Check</a>
        </div>
      </div>
    </div>
  </div>
</div>
